*{
    margin: 0;
    padding: 0;
}

/*---------->Welcome.html*/
#bg1{
    background-color: rgb(122, 122, 247);
}
.Welcome{
    display:flex;
    align-items: center;
    flex-direction: column;
}
#logo{
    padding-top: 4rem;
}
#name{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 1.5rem;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px whitesmoke;
}
#login-btn{
    margin-top: 3rem;
    border-radius: 50px;
    font-size: 2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border: 0.1rem solid black;
    padding: 1rem 2rem;
    box-shadow: 0 8px 16px 0 rgb(81, 81, 215);
}
#login-link{
    text-decoration: none;
    color: black;
}

/*---------->login_page.html*/
#bg2{
    background-color: rgb(125, 240, 175);
}
.login-box{
    border: 0.3rem solid rgb(1, 113, 113);
    height: 37rem;
    width: 30rem;
    margin-top: 12rem;
    background-color:darkcyan;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#log-info{
    text-decoration:underline;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    font-size: 3rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.Log-input{
    height: 3.5rem;
    width: 18rem;
    border: solid rgb(1, 113, 113);
    font-size: 1.5rem;
}
#pass-input{
    margin-top: 1.5rem;
}
.LI-words{
    font-size: 1.6rem;
    text-align: left;
    margin-top: 1rem;
    margin-left: 4.6rem;
}
#FC-link{
    font-size: 1.2rem;
    margin-top: 2rem;
}
#submit-btn{
    height: 3rem;
    width: 7rem;
    margin-top: 2.5rem;
    border-radius: 13px;
    border: solid rgb(1, 113, 113);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
#submit-btn:hover {
    background-color:black;
    color: white;
}